@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin: 129px 10%;
  z-index: 1;
  color: var(--color-text);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container h1{
  color: var(--color-text);
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content {
  display: flex;
  align-items: center;
}

.aboutImage {
  padding: 20px;
  border-radius: 50%;
  width: 400px;
}
.aboutItemText{
  font-size: small;
  font-weight: 200;
  text-align: justify;
  margin-left: 5%;

}
.aboutItemText h2{
  font-weight: lighter;
  letter-spacing: 1px;
}
.aboutItemText span {
  font-size: x-large;
}
.scrollToHeroBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(9, 150, 108, 0.7);
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.scrollToHeroBtn img {
  width: 40px;
  height: auto;
  opacity: 0.8;
}

.scrollToHeroBtn:hover {
  opacity: 1;
  transform: translateY(-5px);
  background-color: rgba(15, 158, 201, 0.9);
}

@media screen and (max-width: 930px) {
  .container {
    background-color: transparent;
    padding: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    width: 200px; 
    margin-bottom: 20px; 
  }

  .aboutItems {
    margin-top: 29px;
    flex-direction: column;
  }

  .aboutItem {
    padding: 0;
  }

  .container .title, .aboutItem h3, .aboutItem p {
    font-size: 18px; /* Reduce the text size */
  }
}